{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["**/*.config.ts"]
    }]
  }
}
